
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="voting-details-container div-voting col-xs-8">
    <div class="col-xs-12">
        <label>E-mail:</label>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 div-margin-top">
        <label>Birth Date:</label>
    </div>
    <div class="col-xs-12 div-margin-top">
        <label>Date of registration:</label>
    </div>
    <div class="col-xs-12 div-margin-top"></div>
    </div>
<div class="col-xs-4"></div>

